---
layout: default
---

<section id="intro">
  <div class="flex-row-between">
    <h1>안녕하세요! 👋</h1>
    <button
      id="theme-toggle"
      onclick="modeSwitcher()"
      aria-label="Change Theme"
    >
      <div></div>
    </button>
  </div>
  <p>안녕하세요!</p>
  <a href="/tags">tags</a>
  <a href="/about">about</a>
</section>

<section class="posts">
  <h3>BLOG</h3>
  <ul>
    {% for post in paginator.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}"
        >{{ post.date | date: "%Y %m %d" }}</time
      >
    </li>
    <h3 class="summary">{{post.summary}}</h3>

    {% endfor %}
  </ul>
</section>

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number"
    >{{ paginator.page }} of {{ paginator.total_pages }}</span
  >
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next">Next</span>
  {% endif %}
</div>
