<script src="https://giscus.app/client.js"
        data-repo="soulee-dev/soulee.dev"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNDMxMjg4MDA="
        data-category="Announcements"
        data-category-id="DIC_kwDOFHO64M4CTXc-"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>