<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0"
  />

  {% seo title=false %}

  <title>
    {% if page.tag or page.title %} {% if page.tag %} {{ page.tag | escape }} {%
    else %} {{ page.title | escape }} {% endif %} {% else %} {{site.title |
    escape }}{% endif %}
  </title>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" />
  <link rel="apple-touch-icon" href="/assets/icon192.png" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ site.baseurl }}/atom.xml"
  />
  <link rel="alternate" type="application/json" title="{{ site.title }}"
  href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link
    rel="sitemap"
    type="application/xml"
    title="sitemap"
    href="{{ site.baseurl }}/sitemap.xml"
  />
  <link
    href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-subset.css"
    rel="stylesheet"
  />
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="/assets/css/syntax.css" />

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <script type="text/javascript">
    function setTheme(theme) {
      if (theme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
        window.localStorage.setItem("theme", "dark");
        if (document.getElementById("theme-toggle") != null) {
          document.getElementById("theme-toggle").classList.add("sun");
          document.getElementById("theme-toggle").classList.remove("moon");
        }
      } else {
        document.documentElement.setAttribute("data-theme", "light");
        window.localStorage.setItem("theme", "light");
        if (document.getElementById("theme-toggle") != null) {
          document.getElementById("theme-toggle").classList.add("moon");
          document.getElementById("theme-toggle").classList.remove("sun");
        }
      }
    }

    let theme = localStorage.getItem("theme");

    theme =
      theme ||
      (window.matchMedia
        ? window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light"
        : "light");

    setTheme(theme);

    function modeSwitcher() {
      let currentMode = document.documentElement.getAttribute("data-theme");

      if (currentMode === "dark") {
        setTheme("light");
      } else {
        setTheme("dark");
      }
    }

    function backButton() {
      if (document.referrer) {
        if (window.history.length <= 1) {
          window.location.href = "{{site.url}}/";
        } else {
          window.history.back();
        }
      } else {
        console.log("{{site.url}}/");
        window.location.href = "{{site.url}}/";
      }
    }
  </script>

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-G786TEZ5M3"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-G786TEZ5M3");
  </script>

  <script type="module">
    import "https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate";

    const el = document.createElement("pwa-update");
    document.body.appendChild(el);
  </script>
</head>
